html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}
.fa-info-circle,
.fa-check-circle{
    display: inline-block;
}

.iconsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fade{
    opacity: 1;
}

.modal-body{
    display: flex;
    flex-direction: column;
}

.modal-body span {
    display: inline-flex;
    justify-content: space-between;
    margin: .1rem;
}

.btn-info{
    display: absolute;
    bottom: 80%;
    width: 8rem;
    height: 4rem;
    float: center;
}

.fighters {
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

.game-wrapper .fighter .iconsContainer {
    display: none;
}

.game-wrapper .fighter {
    border: 2px solid brown;
    border-radius: 1.5rem;
}
.health-bar {
    margin-top: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    padding: 5px;
    background: #ddd;
    border-radius: 5px;
    position: relative;
}

.bar {
    background: #c54;
    width: 100%;
    height: 10px;
    position: relative;
    
    transition: width .5s linear;
  }
  
  .hit {
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    
    transition: width .5s linear;
  }

.info {
    display: block;
    text-align: center;
    font: 3rem;
    color: orange;
}

.winner-display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font: 5rem;
    color: green;
}




.game-wrapper {
    margin-top: 4rem;
    height: 60%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first-fighter{
    margin-right: 2rem;
}

.second-fighter {
    margin-left: 2rem;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}
